/**  修改用 */



.doc-update-item {
	display: none;
}		
		
		
/** wang edit*/
[contenteditable]:hover, [contenteditable]:focus {
	background: none;
}
.w-e-text-container {
    position: inherit !important;
    overflow: hidden !important;
    height: auto  !important;
    min-height: 500px;
}
.w-e-text{
	height: 100%;
	min-height: 500px;
	overflow: hidden !important;
	padding-bottom: 10px;
}
.w-e-toolbar{
	height: 100%;
	  overflow: visible !important;
}

/** */
.content-wrap {
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 20px;
}

#input-doc-content {
  overflow: visible !important;
}

.main-content {
	margin-top: 0px;
	margin-bottom: 100px;
}

.doc-content {
	min-height: 100px;
	overflow: visible !important;
}
.doc-update-footer {
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-right: 100px;
    z-index: 9999;
    text-align: right;
}

#btn-doc-save{
	padding-left: 25px;
	padding-right: 25px;
}

.doc-move {
	display: none;
}